<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .row {
            display: block;
            margin: 10px;
        }

        .variant-column {
            width: 100%;
            margin: 0;
        }

        @media (min-width: 576px) {
            .variant-column {
                width: 48.5%;
            }

            .variant-column-right {
                margin-right: 1.25%;
            }

            .variant-column-left {
                margin-left: 1.25%;
            }
        }
    </style>
    <div id="app" class="container">
        
        <div class="row form-group form-control" style="display: flex;">
            <div class="col-12 col-sm-6">
                <input-field title="Confidence ( 1 - &alpha; ):" v-setup-component-input:confidence.percent></input-field>
                <input-field title="Power:" v-setup-component-input:power.percent></input-field>
                <input-field title="Estimated Lift Percentage:" v-setup-component-input:mde.percent></input-field>
                <div class="form-group row">
                    <label>Tails (1 or 2):</label>
                    <div class="col-12 mb-3">
                        <select class="form-control input no-sup" v-model.trim="tailsFormatted">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <input-field title="Number of Test Variants:" v-setup-component-input:numberoftestvariants></input-field>
                <input-field title="Mean Value:" v-setup-component-input:meanvalue></input-field>
                <input-field title="Standard Deviation:" v-setup-component-input:standarddeviation></input-field>
                <input-field title="Daily Traffic (optional):" v-setup-component-input:dailytrafic></input-field>
            </div>
        </div>

        <div v-if="numberoftestvariants > 1" class="row form-group form-control" style="display: flex;">
            <div class="col-12 col-sm-6 form-control variant-column variant-column-right">
                <h3>Sample size with Bonferroni-adjustments</h3>
                <div class="form-control" style="margin-bottom: 10px;">
                    <p>Estimated Test Average:</p>
                    <p>{{ formatNumber(estimatedTestAverage) }}</p>
                </div>
                <div class="form-control" style="margin-bottom: 10px;">
                    <p>Sample Size Required Per Recipe:</p>
                    <p>{{ formatNumber(Math.ceil(sampleSizeReqPerRecipeBON)) }}</p>
                </div>
                <div class="form-control" style="margin-bottom: 10px;">
                    <p>Total Sample Size Required:</p>
                    <p>{{ formatNumber(Math.ceil(totalSampleSizeReqBON)) }}</p>
                </div>
                <div class="form-control">
                    <p>Estimated Duration:</p>
                    <p>{{ estimatedDurationBON}}</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 form-control variant-column variant-column-left">
                <h3>Sample size without Bonferroni-adjustments</h3>
                <div class="form-control" style="margin-bottom: 10px;">
                    <p>Estimated Test Average:</p>
                    <p>{{ formatNumber(estimatedTestAverage) }}</p>
                </div>
                <div class="form-control" style="margin-bottom: 10px;">
                    <p>Sample Size Required Per Recipe:</p>
                    <p>{{ formatNumber(Math.ceil(sampleSizeReqPerRecipe)) }}</p>
                </div>
                <div class="form-control" style="margin-bottom: 10px;">
                    <p>Total Sample Size Required:</p>
                    <p>{{ formatNumber(Math.ceil(totalSampleSizeReq)) }}</p>
                </div>
                <div class="form-control">
                    <p>Estimated Duration:</p>
                    <p>{{ estimatedDuration }}</p>
                </div>
            </div>
        </div>

        <div v-if="numberoftestvariants <= 1" class="row form-group form-control" style="display: flex;">
            <h3 style="text-align: center; padding: 0;">Required sample size</h3>
            <div class="col-12 col-sm-6 form-control variant-column variant-column-right">
                <div class="form-control" style="margin-bottom: 10px;">
                    <p>Estimated Test Average:</p>
                    <p>{{ formatNumber(estimatedTestAverage) }}</p>
                </div>
                <div class="form-control" style="margin-bottom: 10px;">
                    <p>Sample Size Required Per Recipe:</p>
                    <p>{{ formatNumber(Math.round(sampleSizeReqPerRecipe)) }}</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 form-control variant-column variant-column-left">
                <div class="form-control" style="margin-bottom: 10px;">
                    <p>Total Sample Size Required:</p>
                    <p>{{ formatNumber(Math.ceil(totalSampleSizeReq)) }}</p>
                </div>
                <div class="form-control">
                    <p>Estimated Duration:</p>
                    <p>{{ estimatedDuration }}</p>
                </div>
            </div>
        </div>

    </div>

    <script>
        const { createApp } = Vue




        document.addEventListener('keypress', (ev) => {
            if (ev.code == 'Enter') {
                if (!document.activeElement.className.includes('no-sup')) {
                    ev.preventDefault()
                    var inputs = Array.from(document.getElementsByClassName('input'));
                    var currentInputIndex = inputs.indexOf(ev.target);

                    if (currentInputIndex !== -1 && currentInputIndex < inputs.length - 1) {
                        inputs[currentInputIndex + 1].focus();
                    } else if (currentInputIndex => inputs.length - 1) {
                        inputs[0].focus();
                    }
                }
            }
        })

        const app = createApp({
            data() {
                return {
                    confidenceFormatted: 95,
                    powerFormatted: 80,
                    mdeFormatted: 5,
                    tailsFormatted: 1,
                    numberoftestvariantsFormatted: 1,
                    meanvalueFormatted: 50,
                    standarddeviationFormatted: 180,
                    dailytraficFormatted: 0
                }
            },
            computed: {
                confidence() {
                    return numeral(this.confidenceFormatted.toString().replace('%', '')).value() / 100
                },
                power() {
                    return numeral(this.powerFormatted.toString().replace('%', '')).value() / 100
                },
                mde() {
                    return numeral(this.mdeFormatted.toString().replace('%', '')).value() / 100
                },
                tails() {
                    return numeral(this.tailsFormatted).value()
                },
                numberoftestvariants() {
                    return numeral(this.numberoftestvariantsFormatted).value()
                },
                meanvalue() {
                    return numeral(this.meanvalueFormatted).value()
                },
                standarddeviation() {
                    return numeral(this.standarddeviationFormatted).value()
                },
                dailytrafic() {
                    return numeral(this.dailytraficFormatted).value()
                },
                zAlpha() {
                    const tailProbability = (1 - this.confidence) / this.tails;
                    return this.NORMSINV(1 - tailProbability);
                },
                zBeta() {
                    return this.NORMSINV(this.power);
                },
                estimatedTestAverage() {
                    return this.meanvalue * (1 + this.mde);
                },
                sampleSizeReqPerRecipe() {
                    return Math.pow(this.zAlpha + this.zBeta, 2) * 2 * Math.pow(this.standarddeviation, 2) / Math.pow(this.estimatedTestAverage - this.meanvalue, 2);
                },
                totalSampleSizeReq() {
                    return this.sampleSizeReqPerRecipe * (this.numberoftestvariants + 1);
                },
                estimatedDuration() {
                    return (this.dailytrafic == 0 || this.dailytrafic == '') ? 'You must input a daily traffic value to receive an estimated duration' : this.formatNumber(Math.ceil(this.totalSampleSizeReq / this.dailytrafic)) + ' Days';
                },
                zAlphaBON() {
                    const tailProbability = (1 - this.confidence) / this.tails / this.numberoftestvariants;
                    return this.NORMSINV(1 - tailProbability);
                },
                sampleSizeReqPerRecipeBON() {
                    return Math.pow(this.zAlphaBON + this.zBeta, 2) * 2 * Math.pow(this.standarddeviation, 2) / Math.pow(this.estimatedTestAverage - this.meanvalue, 2);
                },
                totalSampleSizeReqBON() {
                    return this.sampleSizeReqPerRecipeBON * (this.numberoftestvariants + 1);
                },
                estimatedDurationBON() {
                    return (this.dailytrafic == 0 || this.dailytrafic == '') ? 'You must input a daily traffic value to receive an estimated duration' : this.formatNumber(Math.ceil(this.totalSampleSizeReqBON / this.dailytrafic)) + ' Days';
                }
            },
            methods: {
                NORMSINV(p) {
                    const a1 = -3.969683028665376e+01;
                    const a2 = 2.209460984245205e+02;
                    const a3 = -2.759285104469687e+02;
                    const a4 = 1.383577518672690e+02;
                    const a5 = -3.066479806614716e+01;
                    const a6 = 2.506628277459239e+00;

                    const b1 = -5.447609879822406e+01;
                    const b2 = 1.615858368580409e+02;
                    const b3 = -1.556989798598866e+02;
                    const b4 = 6.680131188771972e+01;
                    const b5 = -1.328068155288572e+01;

                    const c1 = -7.784894002430293e-03;
                    const c2 = -3.223964580411365e-01;
                    const c3 = -2.400758277161838e+00;
                    const c4 = -2.549732539343734e+00;
                    const c5 = 4.374664141464968e+00;
                    const c6 = 2.938163982698783e+00;

                    const d1 = 7.784695709041462e-03;
                    const d2 = 3.224671290700398e-01;
                    const d3 = 2.445134137142996e+00;
                    const d4 = 3.754408661907416e+00;

                    const p_low = 0.02425;
                    const p_high = 1 - p_low;

                    let q, r;
                    if (0 < p && p < p_low) {
                        q = Math.sqrt(-2 * Math.log(p));
                        return (((((c1 * q + c2) * q + c3) * q + c4) * q + c5) * q + c6) /
                            ((((d1 * q + d2) * q + d3) * q + d4) * q + 1);
                    } else if (p_low <= p && p <= p_high) {
                        q = p - 0.5;
                        r = q * q;
                        return (((((a1 * r + a2) * r + a3) * r + a4) * r + a5) * r + a6) * q /
                            (((((b1 * r + b2) * r + b3) * r + b4) * r + b5) * r + 1);
                    } else if (p_high < p && p < 1) {
                        q = Math.sqrt(-2 * Math.log(1 - p));
                        return -(((((c1 * q + c2) * q + c3) * q + c4) * q + c5) * q + c6) /
                            ((((d1 * q + d2) * q + d3) * q + d4) * q + 1);
                    }
                    throw new Error("Argument out of range.");
                },
                formatNumber(value) {
                    return numeral(value).format('0,0[.][00000]');
                },
                formatInput(target, addPercent) {
                    this[target] = this.formatNumber(this[target]) + (addPercent ? '%' : '')
                },
                deformatInput(target, percent) {
                    this[target] = numeral(this[target]).value() * (percent ? 100 : 1)
                },
                updateInput(ev, target) {
                    this[target] = ev.target.value.trim()
                }
            },
            directives: {
                setupComponentInput: {
                    mounted(el, binding, vnode) {
                        const propertyName = binding.arg + 'Formatted';
                        const vm = vnode.ctx.parent.ctx;
                        vm.formatInput(propertyName, binding.modifiers.percent)
                        el = el.querySelector('div').querySelector('input')
                        console.log(el)

                        el.value = vm[propertyName];


                        el.addEventListener('input', (ev) => {
                            vm.updateInput(ev, propertyName)
                        })

                        el.addEventListener('blur', () => {
                            vm.formatInput(propertyName, binding.modifiers.percent);
                            el.value = vm[propertyName];
                        })

                        el.addEventListener('focus', () => {
                            vm.deformatInput(propertyName, binding.modifiers.percent);
                            el.value = vm[propertyName];
                        })
                    }
                }
            }
        })


        app.component('input-field', {
            template: `<div class="form-group row" v-setup-component-input:confidence.percent>
                            <label>{{ title }}</label>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control input"/>
                            </div>
                        </div>
                        `,
            props: [
                'title'
            ]
        })

        app.mount('#app')
    </script>
</body>

</html>